.contacts-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.contact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
}