nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    margin-bottom: 40px;
    background-color: #000000;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(255, 243, 150, 0.1);
}

img{
    width: 50px;
    height: 50px;
    margin: 10%;
    border-radius: 50%;
}

nav .author-name {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    position: absolute;
    top: 33%;
    left: 10%;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-left: 20px;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-link {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease;
}

a{
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover{
    color: #935AF6FF;
}

nav li{
    list-style: none;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}


/* Hamburger menu icon for smaller screens */
.hamburger-menu {
    display: none; /* Hidden by default */
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Mobile menu dropdown */
.mobile-menu {
    display: none; /* Hidden by default */
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: #333;
    border: 1px solid #444;
}

.mobile-menu li {
    margin: 10px 0;
    text-align: center;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .nav-links {
        display: none !important; /* Hide the full nav links */
    }

    .hamburger-menu {
        display: block; /* Show the hamburger icon */
    }

    .mobile-menu {
        width: 150px;
    }
}
